* {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  color: rgb(17, 17, 17);
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 25.6px;
}

p {
  line-height: 27.6px;
  font-family: 'Inter', sans-serif;
  margin: 5px 0;
}

li {
  font-family: 'Inter', sans-serif;
}

ol > li {
  margin-bottom: 10px;
}

ul > li {
  margin-bottom: 10px;
}

li > p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: rgb(33, 93, 211);
}

blockquote {
  border-left: 2px solid rgb(33, 93, 211);
  padding-left: 20px;
  font-style: italic;
  font-weight: 300;
}

pre {
  width: 100%;
}

code[class*="language-"] {
  white-space: pre-wrap;
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

footer {
  border-top: 1px solid #eee;
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  padding-top: 15px;
}

img {
  max-width: 100%;
}

#contents {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 1rem;
}

#sitelogo {
  font-weight: 800;
  font-size: 22px;
  margin-right: .75rem;
}

#siteheadline {
  letter-spacing: -0.03em;
  line-height: 1.1;
  margin-left: -2px;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: .25rem;
  padding: 0;
  color: rgb(17, 17, 17) !important;
}

#siteheadline > a {
  color: rgb(17, 17, 17) !important;
}

#siteheadline > a:hover {
  color: rgb(33, 93, 211);
  text-decoration: none;
}

#topnav > a {
  color: rgb(17, 17, 17) !important;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
}

.subtitle {
  text-align: center;
  color: rgb(182,182,182);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
}

.borderLine {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: none;
  border-bottom: 1px solid #eee;
  height: 0;
  width: 100%;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  margin-top: 15px;
  padding-top: 20px;
  text-align: center;
  max-width: 100%;
}

.subscribeInput {
  padding: 5px 10px;
  width: 325px;
  font-size: 16px;
  border: 2px solid rgb(33, 93, 211);
  border-radius: 4px;
  margin-right: 20px;
}
.subscribeButton {
  font-size: 16px;
  background-color:rgb(33, 93, 211);
  color: white;
  cursor: pointer;
  font-weight: 600;
  justify-content: center;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
}

.warning {
  font-size: 14.4px;
  margin-top: 10px;
  margin-left: 10px;
}

.copyright {
  margin-top: 0;
  font-size: 14px;
  line-height: 27.6px;
}

/* library */
#the-library {
  width: 100%;
}

.librarySelect {
  padding: 5px 10px;
  width: 100%;
  font-size: 22px;
  border: 4px solid rgb(33, 93, 211);
  border-radius: 4px;
  /* margin-right: 20px; */
}

#library-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  min-width: 200px;
  /* min-height: 430px; */
}

#library-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#library-button {
  background-color: rgb(33, 93, 211);
  color: white;
}

#library-lazy {
  background-color: #20c997;
  color: white;
}

.btn {
  display: inline-block;
  width: 49%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}