$border-color: #eee;

.pageTitle {
    margin-top: 1rem;
    padding: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 200;
    font-style: italic;
    letter-spacing: .5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.card {
    text-align: center;
    background-color: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    min-width: 200px;
    min-height: 430px;
}

.date {
    font-size: .85rem;
    font-weight: 600;
}

@media (min-width: 50em) {  
    .card {
        width: 450px;
    }
}

.title {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.bookCover {
    margin-top: 0.5rem;
    height: 250px;
}

.favorite {
    border: 1px solid turquoise;
}

.review {
    text-align: left;
}

.filterItem {
    width: 400px;
    margin: 0 1rem;
}

.filterForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}